In [14]:
print("the sum of two number is %0.1f"%(float(input("enter n1:"))+float(input("enter n2:"))))

enter n1:6
enter n2:8
the sum of two number is 14.0

In [17]:
def check(x):
        if x>=0:
            return 'positive'
num=int (input ('the number: '))
check(num)

the number: 2

'positive'

In [7]:
num = float(input("enter the number: "))
num_sqrt = num ** 0.5
print("The square root of %0.3f is %0.3f"%(num,num_sqrt)) # %.3 is used to print 3 after the point

enter the number: 3
The square root of 3.000 is 1.732

In [9]:
num = float(input("enter the number: "))
num_sqrt = num ** 0.5
print(num_sqrt) # % is used for ignoring complex value

enter the number: -4
(1.2246467991473532e-16+2j)

In [12]:
a = float(input("enter first side: "))
b = float(input("enter second side: "))
c = float(input("enter third side: "))
s = (a+b+c)/2
area= (s*(s-a)*(s-b)*(s-c))** 0.5
print("the area of the triangle is %0.2f"%area)

enter first side: -2
enter second side: -3
enter third side: -4
the area of the triangle is 2.90

In [13]:
x = input("enter value of x : ")
y = input("enter value of y : ")
temp = x
x=y
y = temp
print("the value of x after swapping {}".format(x))
print("the value of y after swapping {}".format(y))

enter value of x : 1
enter value of y : 2
the value of x after swapping 2
the value of y after swapping 1

In [14]:
x,y = 2,3
x,y=y,x
print(x,y)

3 2

In [17]:
import random
print(random.randint(0,9))

6

In [19]:
kilometers = float(input("Enter the value in KM : "))
conv_fac = 0.621371
miles = kilometers*conv_fac
print("%0.2f kilometers is equals to %0.2f miles" % (kilometers,miles))

Enter the value in KM : 22
22.00 kilometers is equals to 13.67 miles

In [28]:
print('converted value in miles is %0.2f'%(float(input('enter value in km: '))*0.621371))

enter value in km: 22
converted value in miles is 13.67

In [22]:
num = float(input("enter the number:"))
if num>0:
    print("positive number")
elif num == 0:
    pritn("zero")
else:
    print("negative number")

enter the number:3
positive number

In [23]:
num = float(input("enter the number:"))
if num>0:
    if num==0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

enter the number:3
positive number

In [26]:
num = int(input("enter a number : "))
if num%2 == 0:
    print("number is even")
else:
    print("number is odd")

enter a number : 1
number is odd

In [29]:
n1 = input("enter first number : ")
n2 = input("enter second number : ")
n3 = input("enter third number : ")
if n1>n2 and n1>n3:
    print("the largest number is : ",n1)
elif n2>n3 and n2>n1:
    print("the largest number is : ",n2)
else:
    print("the largest number is : ",n3)

enter first number : 2
enter second number : 3
enter third number : 4
the largest number is :  4

In [36]:
def factorial(x):
    if x ==1:
        return 1
    elif x<1:
        print("factorial not possible")
    else:
        return(x*factorial(x-1))
num = int(input("enter the number: "))
result = factorial(num)
print("the factorial of",num,"is",result)

enter the number: -1
factorial not possible
the factorial of -1 is None

In [37]:
terms = int(input("how many terms:"))
result = list(map(lambda x : 2**x,range(terms)))
print("the total terms are",terms)
for i in range(terms):
    print("2 raised to the power",i,"is",result[i])

how many terms:2
the total terms are 2
2 raised to the power 0 is 1
2 raised to the power 1 is 2

In [3]:
my_list = [2,3,22,13,33,12]
result = list(filter(lambda x : (x%2 == 0),my_list))
print("number divisible by 2 are", result)

number divisible by 2 are [2, 22, 12]

In [9]:
dec = 2
print("The Decimal value of",dec,"is")
print(bin(dec),"in binary") # 0b,0o,0x are representavie
print(oct(dec),"in octal")
print(hex(dec),"in hexadecimal")

The Decimal value of 2 is
0b10 in binary
0o2 in octal
0x2 in hexadecimal

In [1]:
num = int(input("enter the number's multiplication table you need : "))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

enter the number's multiplication table you need : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
import calendar
year =int(input("enter year:"))
month = int(input("enter month: "))
print(calendar.month(year,month))

enter year:2023
enter month: 9
   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [5]:
my_str = 'mAdAm'
my_str = my_str.casefold()# caseflod used to conver string in any one case small case or capital
rev_str = reversed(my_str)
if list(my_str) == list(rev_str):
    print("The string is palindrome")
else:
    print("The string is not palindrome")

The string is palindrome

In [7]:
punctuations = '''(){}[];:""<>,.?/|\_~!@#$%^&*'''
my_str = " hello!!! , he is my /// friend."
no_punct = ""
for char in my_str:
    if char not in punctuations:
        no_punct= no_punct+char
print(no_punct)

 hello  he is my  friend