# session 1&2 (work done in clas)

In [32]:
print("Hello World")

Hello World

In [33]:
# Second 
a=25
b='Variable'
print(a)
print(type(a))
print(b)
print(type(b))

25
<class 'int'>
Variable
<class 'str'>

In [34]:
a=25
b='Variable'
print(a)
print(type(a))
print(b)
print(type(b))
a='CONSTANT'
print(a)
print(type(a))

25
<class 'int'>
Variable
<class 'str'>
CONSTANT
<class 'str'>

In [35]:
# List 
my_list=['Python','for','Managers']
print(my_list[2])
my_list[1]='FOR'
print(my_list)
print(my_list[1:3])

Managers
['Python', 'FOR', 'Managers']
['FOR', 'Managers']

In [36]:
#Append 

my_list.append('Benefit')
print(my_list)

['Python', 'FOR', 'Managers', 'Benefit']

In [37]:
# Insert 
my_list.insert(3,'and their')
print(my_list)

['Python', 'FOR', 'Managers', 'and their', 'Benefit']

In [38]:
# Extend
abc=['Python','Finance','Excel']
xyz=['DBMS','MM','ITTS','ECO']
abc.extend(xyz)
print(abc)

['Python', 'Finance', 'Excel', 'DBMS', 'MM', 'ITTS', 'ECO']

In [39]:
# Pop 

abc.pop()
print(abc)

['Python', 'Finance', 'Excel', 'DBMS', 'MM', 'ITTS']

In [40]:
# Remove

MY_list=['Adani','Ambani','Tata','Adani','Birla']
MY_list.remove('Adani')
print(MY_list)

['Ambani', 'Tata', 'Adani', 'Birla']

In [41]:
# Clear

MY_list.clear()
print(MY_list)

[]

In [42]:
# Count

mylist=[1,1,2,2,3,3,5,5,5,6,4,8,5]
mylist.count(5)

4

In [43]:
# Reverse

Melist=['i','study','data']
Melist.reverse()
print(Melist)

['data', 'study', 'i']

In [44]:
# Sort

my_list=['harshal','mark','elon','jeff']
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['elon', 'harshal', 'jeff', 'mark']
['mark', 'jeff', 'harshal', 'elon']

In [45]:
# Dictionary Demo

mydit={'Cloud':"9",'Floor':"Tenth",'Flat':"K. K. Avenue"}
print(mydit)
print(mydit['Cloud'])

{'Cloud': '9', 'Floor': 'Tenth', 'Flat': 'K. K. Avenue'}
9

In [46]:
# Keys
print(mydit.keys())

dict_keys(['Cloud', 'Floor', 'Flat'])

In [47]:
# Values
print(mydit.values())

dict_values(['9', 'Tenth', 'K. K. Avenue'])

In [48]:
# Items
print(mydit.items())

dict_items([('Cloud', '9'), ('Floor', 'Tenth'), ('Flat', 'K. K. Avenue')])

In [49]:
# Basic IF Statement

d=52
if d > 50:
    print("d is greatest ")

d is greatest

In [50]:
# Basic IF Statement

d=52
if d > 50:
    print("d is greatest ")

d is greatest

In [51]:
# Basic IF ELSE Statement

f=35
if f > 40:
    print('f is greater')
else:
    print('f is smaller')

f is smaller

In [52]:
# Basic IF ELIF Statement

h=8
g=6
if h>g:
    print('h is greater than g')
elif g>h:
    print('h is not greater')
else:
    print('g is greatest')

h is greater than g

In [53]:
# Basic FOR loop

x=[1,2,3,5,9,10,8,6,0,1,5]
for i in x:
    print(i)

1
2
3
5
9
10
8
6
0
1
5

In [54]:
# IF in FOR loop

x=[1,2,3,5,9,10,8,6,0,1,5]
for i in x:
    if i>5:
        print(i)

9
10
8
6

In [55]:
# Output from a list of tuples
#  Without tuple unpacking
a=[(1,2),(3,4),(10,11)]
for i in a:
    print(i[1])

2
4
11

In [56]:
#  With tuple unpacking

a=[(1,2),(3,4),(10,11)]
for x,y in a:
    print(y)

2
4
11

In [57]:
# Range

for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
# While loop Demo

m=69
while m<100:
    print(m)
    m+=10

69
79
89
99

In [59]:
# While Else demo

m=169
while m<100:
    print(m)
    m+=10
else:
    print('m is greater than 100')

m is greater than 100

In [60]:
# Break

x=[1,2,3,5,9,10,8,6,0,1,5]
for i in x:
    print(i)
    if i>6:
        break

1
2
3
5
9

In [61]:
# Continue

x=[1,2,3,5,9,10,8,6,0,1,5]
for i in x:
    if i>=6:
        continue
    print(i)

1
2
3
5
0
1
5

In [62]:
# Function

def Add(x,y):
    z=x+y
    return z

x=int(input('enter number 1: '))
y=int(input('enter number 2: '))
print(Add(x,y))

enter number 1: 2
enter number 2: 3
5